{% load custom_filters %}
{% include "block_auth.html" %}

<h1>{{grupo.nome}}</h1>
<h2>{{grupo.codigo}}</h2>

<h3>Adicionar novo participante</h3>
<form action="" method="post" onsubmit="return valida_telefone()">{% csrf_token %}
    {{add_participante_form.as_p}}
    <div id="error-div" style="color: red;"></div>
    <button type="submit">Adicionar</button>
</form>

{% for participante in participantes_list %}
    <p><strong>Nome:</strong> {{participante.nome}}</p>
    <p><strong>Telefone:</strong> {{participante.telefone}}</p>
    <div><a href=" {% url "update_participante" grupo.pk|encode_pk participante.pk|encode_pk%} ">Editar</a></div>
    <div><a href=" {% url "delete_participante" grupo.pk|encode_pk participante.pk|encode_pk%} ">Excluir</a></div>
{% endfor %}

<div>
    <a href=" {% url "update_grupo" grupo.pk|encode_pk%} ">Renomear grupo</a>
    <a href=" {% url "delete_grupo" grupo.pk|encode_pk%} ">Excluir grupo</a>
</div>


<script>
    function valida_telefone(){
        var telefone = document.getElementById('id_telefone').value;
        var errorDiv = document.getElementById('error-div');
        if(telefone.length < 11){
            errorDiv.textContent = "O telefone deve  conter 11 dígitos.";
            return false;
        }
        errorDiv.textContent = '';
        return true
    }
</script>