<h1>{{grupo.nome}}</h1>
<h2>{{grupo.codigo}}</h2>

<h3>Adicionar novo participante</h3>
<form action="" method="post">{% csrf_token %}
    {{add_participante_form.as_p}}
    <button type="submit">Adicionar</button>
</form>

{% for participante in participante_list %}
    <p><strong>Nome:</strong> {{participante.nome}}</p>
    <p><strong>Telefone:</strong> {{participante.telefone}}</p>
{% endfor %}

<div>
    <a href=" {% url "update_grupo" grupo.pk%} ">Renomear grupo</a>
    <a href=" {% url "delete_grupo" grupo.pk%} ">Excluir grupo</a>
</div>
