{% load custom_filters %}

{% include "block_auth.html" %}

<form action="{% url "welcome" %}" method="post">{% csrf_token %}
    <button type="submit">Menssagem</button>
</form>

<h1>Novo Grupo</h1>

<h2>{{debug}}</h2>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </ul>
{% endif %}

<form action="" method="post">{% csrf_token %}
    {{ grupo_form.as_p }}
    <button type="submit">Criar Grupo</button>
</form>

<h1>Meus Grupos</h1>
{% for grupo in grupos %}
    <div>
        <a href=" {% url "detail_grupo" encoded_pk=grupo.id|encode_pk %} ">{{ grupo.nome }}</a>
        <span>{{ grupo.codigo }}</span>
    </div>
{% endfor %}
<br>
